<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
    <div class="brk-backgrounds__canvas brk-particles-standart"></div>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="text-center" data-brk-library="component__title">
                <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 brk-white-font-color">
                    {{ title }}</h2>
                <div class="divider-cross wow zoomIn"><span></span> <span></span></div>
                <h5 class="font__family-playfair line__height-26 font__size-18 letter-spacing-20 brk-white-font-color opacity-60 mb-50">
                    {{ desc }}</h5>
                <button class="btn-backgrounds btn-backgrounds btn-backgrounds_dark font__family-montserrat font__weight-semibold text-uppercase font__size-13 brk-base-gradient-btn-backgrounds" data-brk-library="component__button"><span class="text">{{ btntxt }}</span> <span class="before"><i
              class="fas fa-caret-right"></i></span></button>
            </div>
        </div>
    </div>
</div>


<div class="mt-50 mb-210">
    <div class="brk-gradient-circle brk-base-bg-gradient--30deg" data-brk-library="component__portfolio_page,component__tabbed_contents"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 136">
      <path d="M1920,136A3691.84,3691.84,0,0,0,0,136V0H1920Z" /></svg>
        <div class="brk-tabs brk-tabs_tabbed-icons-gradient" data-index="0">

            <div class="brk-tabs-content pb-110">
                <div class="brk-tab-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6"><img class="brk-base-box-shadow" src="assets/img/hexalink/SaaS-Integration.png" alt="alt"></div>
                            <div class="col-lg-6 pl-35 pt-40">
                                <h4 class="font__family-montserrat font__weight-light font__size-48 text-left brk-white-font-color">
                                    {{ p1 }}
                                    <b class="font__weight-bold">{{ p2 }}</b>
                                </h4>
                                <h4 class="font__family-montserrat font__weight-light font__size-48 text-left brk-white-font-color">
                                    {{ p3 }}
                                    <b class="font__weight-bold">{{ p4 }}</b>
                                </h4>
                                <h4 class="font__family-montserrat font__weight-light font__size-48 text-left brk-white-font-color">
                                    {{ p5 }}
                                    <b class="font__weight-bold">{{ p6 }}</b>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<div class="main-wrapper text-center mb-30">
    <div class="mt-80">
        <h2 class="title__heading-03 title__heading-main font__family-montserrat-alt font__weight-bold font__size-40" data-brk-library="component__title">{{ import }}</h2>
        <div class="divider-dots" data-brk-library="component__title"><span class="wow fadeIn" data-wow-delay="0.4s"></span>
            <span class="wow fadeIn" data-wow-delay="0.5s"></span> <span class="wow fadeIn" data-wow-delay="0.6s"></span>
        </div>
        <h4 class="title__heading-03 title__heading-sub font__family-montserrat font__size-16">{{ sub }}</h4>
    </div>
</div>
<div class="mb-100">
    <div class="triple-slider slick-loading arrows-classic" data-brk-library="slider__slick,component__image_caption">
        <div>
            <div class="brk-ic-left-slide brk-ic-left-slide__pointer" data-brk-library="component__image_caption_css">
                <a href="#" class="brk-ic-left-slide__link"></a> <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/img/hexalink/Grid View.png" alt="alt" class="brk-ic-left-slide__img lazyload">
                <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-6-black"></div>
                <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_gradient brk-base-bg-gradient-50deg-a">
                    <h3 class="brk-ic-left-slide__title font__size-21 line__height-28"><span class="font__family-montserrat font__weight-light">{{ gv }}</span></h3>
                </div>
            </div>
        </div>
        <div>
            <div class="brk-ic-left-slide brk-ic-left-slide__pointer" data-brk-library="component__image_caption_css">
                <a href="#" class="brk-ic-left-slide__link"></a> <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/img/hexalink/Table View.png" alt="alt" class="brk-ic-left-slide__img lazyload">
                <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-6-black"></div>
                <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_gradient brk-base-bg-gradient-50deg-a">
                    <h3 class="brk-ic-left-slide__title font__size-21 line__height-28"><span class="font__family-montserrat font__weight-light">{{ tv }}</span></h3>
                </div>
            </div>
        </div>
        <div>
            <div class="brk-ic-left-slide brk-ic-left-slide__pointer" data-brk-library="component__image_caption_css">
                <a href="#" class="brk-ic-left-slide__link"></a> <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="assets/img/hexalink/Board View.png" alt="alt" class="brk-ic-left-slide__img lazyload">
                <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-6-black"></div>
                <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_gradient brk-base-bg-gradient-50deg-a">
                    <h3 class="brk-ic-left-slide__title font__size-21 line__height-28"><span class="font__family-montserrat font__weight-light">{{ bv }}</span></h3>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Why Hexa-->
<div class="container mt-70 mt-md-130 mb-130">
    <div class="icon__wrapper-main icon__wrapper-linear active__effect-main text-center" data-brk-library="component__sequence">
        <div class="row row-no-gutter">
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect pt-30 pb-40 pl-30 pr-30">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/hexalink/speed.png" alt="" srcset="">
                    </div>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ wq1 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21 pl-10 pr-10">{{ wt1 }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect active current pt-30 pb-40 pl-30 pr-30">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/hexalink/modernization.png" alt="" srcset="">
                    </div>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ wq2 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21 pl-10 pr-10">{{ wt2 }}</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect pt-30 pb-40 pl-30 pr-30">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/hexalink/cloud.png" alt="" srcset="">
                    </div>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ wq3 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21 pl-10 pr-10">{{ wt3 }}</p>
                </div>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect active current pt-30 pb-40 pl-30 pr-30">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/hexalink/customization.png" alt="" srcset="">
                    </div>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ wq4 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21 pl-10 pr-10">{{ wt4 }}</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Pricing -->
<div class="container col-lg-6 text-center">
    <div class="mb-100">
        <h5 class="font__size-21 font__family-montserrat font__weight-light text-gray" data-brk-library="component__title">
            Modernize your company's IT system now and get the efficiency you need.</h5>
        <h3 class="font__family-montserrat font__weight-bold title-lines-double title-lines-main" data-brk-library="component__title"><span class="line"></span> <span class="text">Pricing</span> <span class="line"></span></h3>
    </div>
</div>
<div class="container mb-140">
    <div class="row">
        <div class="col-lg-4">
            <div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
                <div class="brk-pricing-plan__bg lazyload">
                    <div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
                </div>
                <div class="brk-pricing-plan__content text-center">
                    <div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Free
                    </div>
                    <div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold"><span class="sign">¥</span>
                        <span class="price">0</span></div>
                    <div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">For small teams that work with <br>small amount of data and tasks.<br> Perfect for start-ups.</div>
                    <div class="brk-pricing-plan__included">
                        <ul>
                            <li><i class="fal fa-check"></i>Database creation</li>
                            <li><i class="fal fa-check"></i>Data Report</li>
                            <li><i class="fal fa-check"></i>Dashboard (charts)</li>
                            <li><i class="fal fa-check"></i>Board view</li>
                            <li><i class="fal fa-check"></i>Grid view</li>
                            <li><i class="fal fa-check"></i>Custom workflow</li>
                            <li><i class="fal fa-check"></i>Custom field</li>
                            <li><i class="fal fa-check"></i>Timeline</li>
                            <li><i class="fal fa-check"></i>File attachments</li>
                            <li><i class="fal fa-check"></i>CSV import/export</li>
                            <li><i class="fal fa-check"></i>Full text search</li>
                            <li><i class="fal fa-check"></i>Team management</li>
                            <li><i class="fal fa-check"></i>Data link (1 to 1)</li>
                            <li><i class="fal fa-check"></i>Action notifications</li>
                        </ul>
                    </div><button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100"><span>Contact
              us</span></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
                <div class="brk-pricing-plan__bg lazyload">
                    <div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
                </div>
                <div class="brk-pricing-plan__content text-center">
                    <div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Premium
                    </div>
                    <div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold"><span class="sign">¥</span>
                        <span class="price">6500</span> <span class="period"> /mo</span></div>
                    <div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">For larger teams who work with<br> large amount of data and tasks. <br>Perfect for companies with many departments. <br>
                        <div class="font__weight-bold">Everything in Free, plus:</div>
                    </div>
                    <div class="brk-pricing-plan__included">
                        <ul>
                            <li><i class="fal fa-check"></i>Unlimited database</li>
                            <li><i class="fal fa-check"></i>Unlimited users</li>
                            <li><i class="fal fa-check"></i>Automatic data link</li>
                            <li><i class="fal fa-check"></i>Role customization</li>
                            <li><i class="fal fa-check"></i>Privilege management</li>
                            <li><i class="fal fa-check"></i>Data access control</li>
                            <li><i class="fal fa-check"></i>External SaaS data capture</li>
                            <li><i class="fal fa-check"></i>Action script</li>
                            <li><i class="fal fa-check"></i>API integrations</li>
                        </ul>
                    </div><button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100"><span>Contact
              us</span></button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
                <div class="brk-pricing-plan__bg lazyload">
                    <div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
                </div>
                <div class="brk-pricing-plan__content text-center">
                    <div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">
                        Enterprise</div>
                    <div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold">
                        <span class="price">Special Pricing</span><br> <span class="period">discount available for high number<br>
              of users (because we want<br> to help you grow)</span></div>
                    <div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">For companies with high number <br>of users and/or require special customizations.
                        <div class="font__weight-bold">Everything in Premium, plus:</div>
                    </div>
                    <div class="brk-pricing-plan__included">
                        <ul>
                            <li><i class="fal fa-check"></i>Volume discount</li>
                            <li><i class="fal fa-check"></i>Dedicated server</li>
                            <li><i class="fal fa-check"></i>Template save/restore</li>
                            <li><i class="fal fa-check"></i>Premium support</li>
                        </ul>
                    </div><button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100"><span>Contact
              us</span></button>
                </div>
            </div>
        </div>
    </div>
</div>