<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
    <div class="brk-backgrounds__canvas brk-particles-standart"></div>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="text-center" data-brk-library="component__title">
                <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 brk-white-font-color">
                    {{ title }}</h2>
                <div class="divider-cross wow zoomIn"><span></span> <span></span></div>
                <h5 class="font__family-playfair line__height-26 font__size-18 letter-spacing-20 brk-white-font-color opacity-60 mb-50">
                    {{ desc }}</h5>
            </div>
        </div>
    </div>
</div>

<div class="container mt-50 mb-50">
    <div class="container mt-70 ">
        <div class="brk-sc-honeycomb" data-brk-library="component__shop_honeycomb">
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/html5.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/golang.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_left">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/Kubernetes.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_right">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/mongo.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
        </div>
    </div>
    <div class="container mt-20">
        <div class="brk-sc-honeycomb" data-brk-library="component__shop_honeycomb">
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/neo.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/nodejs.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_left">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/gcp.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_right">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/azure.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
        </div>
    </div>
    <div class="container mt-20">
        <div class="brk-sc-honeycomb" data-brk-library="component__shop_honeycomb">
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/vuejs.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/electronjs.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_left">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/mysql.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_right">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/redis.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
        </div>
    </div>
    <div class="container mt-20">
        <div class="brk-sc-honeycomb" data-brk-library="component__shop_honeycomb">
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/angularjs.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
            <div class="brk-sc-honeycomb-one brk-sc-honeycomb-one_wide-shadow brk-sc-honeycomb-one_hide-btn brk-sc-honeycomb-one_center">
                <div class="brk-sc-honeycomb-one__content">
                    <div class="brk-services-icon__wrapper">
                        <img src="assets/img/tech/reactjs.png" alt="" srcset="">
                    </div>
                </div>
                <div class="brk-sc-honeycomb-one__layer brk-base-bg-gradient-14"></div>
                <div class="brk-sc-honeycomb-one__hex-1"></div>
                <div class="brk-sc-honeycomb-one__hex-2"></div>
            </div>
        </div>
    </div>
</div>