<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
    <div class="brk-backgrounds__canvas brk-particles-standart"></div>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="text-center" data-brk-library="component__title">
            </div>
        </div>
    </div>
</div>

<section>
    <div class="position-relative brk-bg-center-cover pt-110 lazyload" style="padding-bottom: 295px;" data-bg="assets/img/contact-us/1920x620_1.jpg"><span class="brk-abs-bg-overlay brk-base-bg-gradient-chevron-1"></span>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10">
                    <h1 class="font__family-montserrat font__weight-light font__size-36 line__height-40 mb-30 brk-white-font-color">Get in Touch!</h1>
                    <h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mb-40 brk-white-font-color">Drop your details below</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: -250px">
        <div class="shadow bg-white position-relative z-index-2">
            <div class="row">
                <div class="col-lg-9 col-12">
                    <form (ngSubmit)="addContact(fullname.value ,company.value ,d_type.value,j_position.value ,d_name.value ,email.value ,subject.value ,phone.value ,message.value)" class="pt-45 pb-30 pl-40 pr-40 brk-form-strict brk-subscribe-mail brk-subscribe-mail_dark"
                        data-brk-library="component__form">
                        <h3 class="font__family-montserrat font__weight-bold font__size-24 line__height-28 mb-10 pl-15">Send a Request</h3>
                        <div class="row">
                            <div class="col-12 col-lg-6"> <input type="text" placeholder="Full Name" name="full_name" required #fullname></div>
                            <div class="col-12 col-lg-6"><input type="text" placeholder="Company" name="company" required #company></div>
                            <div class="col-12 col-lg-6"> <select name="d_type" required #d_type>
                              <option value="..." selected disabled>Department Type</option>
                              <option value="Purchasing">Purchasing</option>
                              <option value="Marketing">Marketing</option>
                              <option value="Sales">Sales</option>
                              <option value="Business Planning">Business Planning</option>
                              <option value="HR">HR</option>
                              <option value="General Affairs">General Affairs</option>
                              <option value="Accounting / Finance">Accounting / Finance</option>
                              <option value="IT">IT</option>
                              <option value="Others">Others</option>
                            </select></div>
                            <div class="col-12 col-lg-6"><select name="j_position" required #j_position>
                              <option value="..." selected disabled>Job Position</option>
                              <option value="Upper Management">Upper Management</option>
                              <option value="Middle Management">Middle Management</option>
                              <option value="Lower Management">Lower Management</option>
                              <option value="Team Leader">Team Leader</option>
                              <option value="Others">Others</option>
                            </select>
                            </div>
                            <div class="col-12 col-lg-6"> <input type="text" placeholder="Department Name" name="department_name" #d_name></div>
                            <div class="col-12 col-lg-6"> <input type="text" placeholder="Subject" name="subject" required #subject></div>
                            <div class="col-12 col-lg-6"><input type="text" placeholder="E-mail" name="email" required #email></div>
                            <div class="col-12 col-lg-6"><input type="text" placeholder="Phone" name="phone" required #phone></div>
                            <div class="col-12"><textarea name="MESSAGE" class="bordered-bottom" placeholder="Your Message" style="min-height: 80px" required #message></textarea></div>
                            <button type="submit" class="btn btn-gradient btn-lg btn-shadow border-radius-0 ml-15 mt-30 font__weight-bold" data-brk-library="component__button"><span>Contact Us</span></button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-12">
                    <div class="brk-base-bg-gradient-30deg w-100 h-100 pt-50 pr-50 pb-30 pl-50 d-flex flex-column justify-content-between">
                        <h3 class="font__family-montserrat font__weight-bold font__size-24 brk-white-font-color">Find Us</h3>
                        <div class="mt-15 mb-15">
                            <p class="font__family-open-sans font__weight-bold font__size-14 pb-10 brk-white-font-color"><i class="brk-footer-icon text-middle fa fa-envelope line__height-24 brk-color-base-1 mb-1"></i> <a href="mailto:info@domain.com" class="show-inline-block">info@domain.com</a></p>
                            <p class="font__family-open-sans font__weight-bold font__size-14 pb-10 brk-white-font-color"><i class="brk-footer-icon text-middle fas fa-map-marker-alt line__height-24 brk-color-base-1 mb-1"></i> <span>Chicago, USA</span></p>
                            <p class="font__family-open-sans font__weight-bold font__size-14 pb-10 brk-white-font-color"><i class="brk-footer-icon text-middle fa fa-phone line__height-24 brk-color-base-1 mb-1"></i> <a href="#" class="show-inline-block">800 12 34 567</a></p>
                        </div>
                        <div class="brk-social-links brk-white-font-color mb-10 font__size-15 justify-content-between" data-brk-library="component__social_links"><a href="#" class="brk-social-links__item"><i class="fab fa-twitter"></i> </a><a href="#" class="brk-social-links__item"><i class="fab fa-instagram"></i> </a><a href="#" class="brk-social-links__item"><i class="fab fa-google-plus-g"></i> </a>
                            <a href="#" class="brk-social-links__item"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
