<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
    <div class="brk-backgrounds__canvas brk-particles-standart"></div>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="text-center" data-brk-library="component__title">
                <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 brk-white-font-color">
                    {{ title }}</h2>
                <div class="divider-cross wow zoomIn"><span></span> <span></span></div>
                <h5 class="font__family-playfair line__height-26 font__size-18 letter-spacing-20 brk-white-font-color opacity-60 mb-50">
                    {{ desc }}</h5>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="mt-110">
        <div class="mt-70">
            <h2 class="title__heading-04 title__heading-main font__family-pacifico font__size-36" data-brk-library="component__title">{{ vision }}</h2>
        </div>
    </div>
</div>

<div class="container mt-70 mt-md-130 mb-80">
    <div class="icon__wrapper-main icon__wrapper-gradient active__effect-main text-center" data-brk-library="component__sequence">
        <div class="row row-no-gutter">
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect all-light pt-50 pb-50 pl-30 pr-30 bg__style"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                                <defs>
                                    <clipPath id="livicon_magic_fl">
                                        <rect x="6" y="-6" width="60" height="60" />
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#livicon_magic_fl)">
                                    <g>
                                        <path fill="none" stroke="#F39C12" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M20.15,34.19L29.34,25c0,0,1.41,0,3.54,2.12S35,30.66,35,30.66l-9.19,9.19" />
                                        <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M-1.06,66.72l-5.66-5.66l26.87-26.87c0,0,1.41,0,3.54,2.12s2.12,3.54,2.12,3.54L-1.06,66.72z" />
                                    </g>
                                </g>
                            </g>
                            <g>
                                <defs>
                                    <clipPath id="livicon_magic_s">
                                        <rect x="6" y="-6" width="60" height="60" />
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#livicon_magic_s)">
                                    <g>
                                        <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M20.15,34.19L29.34,25c0,0,1.41,0,3.54,2.12S35,30.66,35,30.66l-9.19,9.19" />
                                        <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M-1.06,66.72l-5.66-5.66l26.87-26.87c0,0,1.41,0,3.54,2.12s2.12,3.54,2.12,3.54L-1.06,66.72z" />
                                    </g>
                                </g>
                            </g>
                            <g>
                                <path fill="none" stroke="#F9BF3B" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M16,22c0,0-0.4-1.2-1.6-2.4C13.2,18.4,12,18,12,18s1.2-0.4,2.4-1.6C15.6,15.2,16,14,16,14s0.4,1.2,1.6,2.4C18.8,17.6,20,18,20,18s-1.2,0.4-2.4,1.6C16.4,20.8,16,22,16,22z" />
                                <path fill="none" stroke="#F9BF3B" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M30,9c0,0-0.1-0.3-0.4-0.6C29.3,8.1,29,8,29,8s0.3-0.1,0.6-0.4C29.9,7.3,30,7,30,7s0.1,0.3,0.4,0.6C30.7,7.9,31,8,31,8s-0.3,0.1-0.6,0.4C30.1,8.7,30,9,30,9z" />
                                <path fill="none" stroke="#F9BF3B" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M44,22c0,0-0.6-1.8-2.4-3.6C39.8,16.6,38,16,38,16s1.8-0.6,3.6-2.4C43.4,11.8,44,10,44,10s0.6,1.8,2.4,3.6C48.2,15.4,50,16,50,16s-1.8,0.6-3.6,2.4C44.6,20.2,44,22,44,22z" />
                                <path fill="none" stroke="#F9BF3B" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M52,31c0,0-0.1-0.3-0.4-0.6C51.3,30.1,51,30,51,30s0.3-0.1,0.6-0.4C51.9,29.3,52,29,52,29s0.1,0.3,0.4,0.6C52.7,29.9,53,30,53,30s-0.3,0.1-0.6,0.4C52.1,30.7,52,31,52,31z" />
                                <path fill="none" stroke="#F9BF3B" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,48c0,0-0.4-1.2-1.6-2.4C39.2,44.4,38,44,38,44s1.2-0.4,2.4-1.6C41.6,41.2,42,40,42,40s0.4,1.2,1.6,2.4C44.8,43.6,46,44,46,44s-1.2,0.4-2.4,1.6C42.4,46.8,42,48,42,48z" />
                            </g>
                        </svg>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ t1 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21">{{ d1 }}</p><span class="after"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect active current all-light pt-50 pb-50 pl-30 pr-30 bg__style"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z" />
                            <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z" /></svg>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ t2 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21">{{ d2 }}</p><span class="after"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon__wrapper active__effect all-light pt-50 pb-50 pl-30 pr-30 bg__style"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                            <g>
                                <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M52.97,28.91C52.99,29.27,53,29.63,53,30" />
                                <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M51.55,21.96c0.26,0.7,0.48,1.4,0.67,2.11" />
                                <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M46.84,14.33c0.78,0.83,1.49,1.73,2.14,2.67" />
                                <path fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M49.8,42.19C45.75,48.75,38.27,53,30,53C17.3,53,7,42.7,7,30C7,17.3,17.3,7,30,7c4.17,0,8.22,1.11,11.78,3.24" />
                                <polyline fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="43,41 51,41 51,49" />
                            </g>
                            <g>
                                <line fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="30" y1="31" x2="41" y2="24" />
                                <line fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="30" y1="31" x2="18" y2="19" />
                            </g>
                            <g>
                                <path fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" d="M52.97,28.91C52.99,29.27,53,29.63,53,30" />
                                <path fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" d="M51.55,21.96c0.26,0.7,0.48,1.4,0.67,2.11" />
                                <path fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" d="M46.84,14.33c0.78,0.83,1.49,1.73,2.14,2.67" />
                                <path fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" d="M49.8,42.19C45.75,48.75,38.27,53,30,53C17.3,53,7,42.7,7,30C7,17.3,17.3,7,30,7c4.17,0,8.22,1.11,11.78,3.24" />
                                <polyline fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" points="43,41 51,41 51,49" />
                            </g>
                            <g>
                                <line fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" x1="30" y1="31" x2="41" y2="24" />
                                <line fill="none" stroke="#34495E" stroke-width="3" stroke-linecap="square" stroke-miterlimit="10" x1="30" y1="31" x2="18" y2="19" />
                            </g>
                        </svg>
                    <h4 class="font__family-montserrat font__size-28 font__weight-bold">{{ t3 }}</h4>
                    <p class="font__family-open-sans font__size-14 line__height-21">{{ d3 }}</p><span class="after"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brk-backgrounds lazyload" data-brk-library="component__backgrounds_css,component__backgrounds_js">
    <div class="brk-backgrounds__before brk-bg-gradient--260deg-96-h"></div><canvas id="brk-metaballs" class="brk-backgrounds__canvas"></canvas>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="maxw-770">
                <div class="text-left" data-brk-library="component__title">
                    <h2 class="font__family-montserrat font__size-64 line__height-68 brk-white-font-color">{{ focus }}</h2>
                    <h2 class="font__family-montserrat font__weight-bold font__size-64 line__height-68 brk-white-font-color">{{ cloud }}</h2>
                    <h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light brk-white-font-color"><span class="before wow fadeInUp"></span>{{ dc1 }}</h4>
                    <h2 class="font__family-montserrat font__weight-bold font__size-64 line__height-68 brk-white-font-color">&amp; {{ tech }}</h2>
                    <h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light brk-white-font-color"><span class="before wow fadeInUp"></span>{{ dc2 }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-70 mt-md-120">
    <div class="timeline timeline--masonry-grid timeline--vertical-circles" data-brk-library="component__timelines_css,component__timelines_js">
        <div class="timeline__wrapper">
            <div class="timeline__item">
                <div class="timeline__box">
                    <img class="lazyload" src="" data-src="assets/img/comp-logo.png" alt="alt">
                    <div class="timeline__content text-left brk-dark-font-color">
                        <div class="timeline__date">
                            <div class="timeline__date-year font__family-montserrat font__weight-semibold font__size-18 brk-base-font-color line__height-16">2016</div>
                            <div class="timeline__date-month font__family-montserrat font__weight-medium font__size-15 line__height-16">January</div>
                        </div>
                        <h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light"><span class="before wow fadeInUp"></span>{{ tt1 }}</h4>
                    </div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__box">
                    <img class="lazyload" src="" data-src="assets/img/Industry.png" alt="alt">
                    <div class="timeline__content text-center brk-dark-font-color">
                        <div class="timeline__date text-center">
                            <div class="timeline__date-year font__family-montserrat font__weight-bold font__size-18 brk-black-font-color line__height-16">{{ tt2 }}</div>
                        </div>
                        <h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light"><span class="before wow fadeInUp"></span>{{ td1 }}</h4>
                    </div>
                </div>
            </div>
            <div class="timeline__item">
                <div class="timeline__box"><img class="lazyload" src="" data-src="assets/img/Representative.png" alt="alt">
                    <div class="timeline__content text-left brk-dark-font-color">
                        <div class="timeline__date">
                            <div class="timeline__date-year font__family-montserrat font__weight-semibold font__size-18 brk-base-font-color line__height-16">{{ tt3 }}</div>
                        </div>
                        <h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light"><span class="before wow fadeInUp"></span>{{ td2 }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline__progress-bar"></div>
    </div>
</div>