<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
    <div class="brk-backgrounds__canvas brk-particles-standart"></div>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="text-center" data-brk-library="component__title">
                <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 brk-white-font-color">
                    {{ title }}</h2>
                <div class="divider-cross wow zoomIn"><span></span> <span></span></div>
                <h5 class="font__family-playfair line__height-26 font__size-18 letter-spacing-20 brk-white-font-color opacity-60 mb-50">
                    {{ desc }}</h5>
                <a href="/hexalink" class="btn-backgrounds btn-backgrounds btn-backgrounds_dark font__family-montserrat font__weight-semibold text-uppercase font__size-13 brk-base-gradient-btn-backgrounds" data-brk-library="component__button"><span class="text">{{ btntxt }}</span> <span class="before"><i class="fas fa-caret-right"></i></span></a>
            </div>
        </div>
    </div>
</div>

<div class="bg__style delimiter__circle all-light pt-100 pb-50 mt-80 position-relative" style="background-image: url(assets/img/bg-1920_1.jpg);" data-brk-library="component__delimiters"><span class="overlay__delimiter-before"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 235.85">
    <defs>
        <style>.a1 {
fill: #fff;
fill-rule: evenodd;
}</style>
    </defs>
    <path class="a1" d="M1920,235.85S1576.38,109.42,960,109.42,0,235.85,0,235.85V0H1920Z" />
</svg> </span><span class="overlay__delimiter-after brk-base-bg-gradient-50deg-a"></span>
    <div class="container">
        <div class="services__wrapper-main services__wrapper-honeycomb active__effect-main all-light mt-0" data-brk-library="component__services">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="services__wrapper active__effect active current center text-center">
                        <div class="icon__cover"><button class="icon__btn icon__btn-anim icon__btn-sm" data-brk-library="component__button"><span class="before"></span> <i class="fa fa-circle-notch" aria-hidden="true"></i> <span class="after"></span></button></div>
                        <p class="font__family-open-sans font__weight-light font__size-14 text-uppercase letter-spacing-60">From the old</p>
                        <h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase"><span class="font__family-montserrat-alt font__weight-regular">To the </span>new</h4><span class="divide"></span>
                        <p class="font__family-open-sans font__size-14 main-text">{{ desc1 }}</p><a href="/about-us" class="btn btn-width font__family-open-sans font__weight-bold font__size-16 mt-30"><span>SEE HOW</span></a>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div><span class="overlay_after"></span>
</div>

<div class="text-center mt-40 mb-40 mb-lg-70">
    <h3 class="font__family-montserrat font__size-42 font__weight-bold line__height-46">Our Products</h3>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="brk-services-icon mb-30" data-brk-library="component__services">
                <div class="brk-services-icon__wrapper">
                    <img src="assets/img/hexalink.png" alt="" srcset="">
                </div>
                <h3 class="brk-services-icon__title font__family-montserrat font__size-24 font__weight-bold line__height-24">{{ hexa }}</h3>
                <p class="brk-dark-font-color text-center font__size-16 line__height-28">{{ hexadesc }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="brk-services-icon mb-30" data-brk-library="component__services">
                <div class="brk-services-icon__wrapper">
                    <img src="assets/img/custom.png" alt="" srcset="">
                </div>
                <h3 class="brk-services-icon__title font__family-montserrat font__size-24 font__weight-bold line__height-24">{{ customsol }}</h3>
                <p class="brk-dark-font-color text-center font__size-16 line__height-28">{{ maindesc }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="brk-services-icon mb-30" data-brk-library="component__services">
                <div class="brk-services-icon__wrapper">
                    <img src="assets/img/beebot.png" alt="" srcset="">
                </div>
                <h3 class="brk-services-icon__title font__family-montserrat font__size-24 font__weight-bold line__height-24">{{ beebot }}</h3>
                <p class="brk-dark-font-color text-center font__size-16 line__height-28">{{ beedesc }}</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-purple mt-70 mt-md-130 pt-220 pb-110">
    <div class="container all-light">
        <div class="extra__heading-2" data-brk-library="component__title_section">
            <div class="heading">
                <h2 class="font__family-montserrat font__weight-ultralight font__size-40 text-uppercase">Human Resources <br>Development</h2>
                <h2 class="font__family-montserrat font__weight-bold font__size-40 text-uppercase">Consulting Company</h2>
            </div>
            <h2 class="font__family-montserrat font__weight-semibold letter-spacing-20 after-heading">About Us</h2>
            <p class="font__family-open-sans font__size-18">{{ desc }}</p>
        </div>
    </div>
</div>