<div class="brk-backgrounds brk-base-bg-gradient-15" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
    <div class="brk-backgrounds__canvas brk-particles-standart"></div>
    <div class="brk-backgrounds__content">
        <div class="container mt-140 mb-150">
            <div class="text-center" data-brk-library="component__title">
                <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 brk-white-font-color">
                    {{ title }}</h2>
                <div class="divider-cross wow zoomIn"><span></span> <span></span></div>
                <h5 class="font__family-playfair line__height-26 font__size-18 letter-spacing-20 brk-white-font-color opacity-60 mb-50">
                    {{ desc }}</h5>
            </div>
        </div>
    </div>
</div>

<div class="container mt-50 mb-50">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div class="services-architecture-bg lazyload" data-bg="" data-brk-library="component__services">
                <div class="brk-abs-overlay brk-base-bg-gradient-90deg z-index-2"></div>
                <div class="services-architecture-bg__icon"><i class="far fa-plug"></i></div>
                <div class="services-architecture-bg__container">
                    <h4 class="font__size-21 line__height-24 text-uppercase font__weight-bold pb-10 text-white">{{ use1 }}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
</div>